*{
    box-sizing: border-box;
}
@font-face{
    font-family: Bison;
    src: url(fonts/Bison-Bold.ttf);
}
@font-face{
    font-family: Jost;
    src:url(fonts/Jost-VariableFont_wght.ttf)
}
@font-face{
    font-family: Jostb;
    src:url(fonts/static/Jost-ExtraBold.ttf)
}
#logo2, .dropdown, #mySidenav, #rows{
    display: none;
}

html, body{
    margin: 0px;
    background: #171716;}
a, button{
    cursor: pointer;
    text-decoration: none;
}
header{
    height: 100px;
    background:#171716;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    border-right: none;
    z-index: 2;
}
    #logo{
        position: relative;
        margin-left: 19%;
        top: 16%;
    }
    .menu{
        position: relative;
        text-align: right;
        right: 18%;
        bottom: 37%;
    }
        .menu-item{
            font-family: Bison;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 130%;
            text-transform: uppercase;
            text-decoration:none;
            color:  #FFFFFF;;
        }
        .menu-item +.menu-item{
            margin-left: 4vw;
        }
.main{
    background-image: url(img/main-photo.jpg);
    height: 118vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 3vh;
    z-index: 1;
    height: auto;
}
.main-content{
    margin-left: 19%;
    
}
.title,.info, .btn, .online, .time{
    font-family: Bison;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}
    .title{
        font-size: 3.5em;
        color: #73F9BC;
        text-transform: uppercase;
    }
    .info{
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        opacity: 0.5;
        top: -5vh;
        position: relative;
    }
    .text{
        font-family: Jost;
        position: relative;
        top: -8vh;
        font-size: xx-large;
    }
    .btn{
        background-color: #fff;
        width: 325px;
        height: 55px;
        text-align:center;
        font-size: xx-large;
        position: relative;
        top: -8vh;
    }
    .online{
        color: #73F9BC;
        font-size: 3em;
        position: relative;
        background-color: black;
        width: fit-content;
        padding: 0px 10vw;
        border: 1px solid;
        z-index: 3;
    }
    #person{
        width: 28%;
        z-index: 2;
        position: absolute;
        top: 17vh;
        right: 18vw;
    }

/*FOOTER */
#footer{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
    .agenda{
        font-family: Jostb;
        color: #73F9BC;
        font-size: 4em;
        text-align: center;
        margin: 0px;
    }
    .time{
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        margin: 0px;
        font-size: xx-large;
        margin-bottom: 3vh;
    }
    #talks{
        font-family: Jost;
        text-align: center;
        margin: 0px;
        color: #fff;
        font-size: smaller;
        margin-bottom: 3vh;
    }
    #choice{
        background: #171716;
        width: 65vw;
        margin-left: 19%;    
    }
        #choice tr{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            font-family: Jost;
            font-style: normal;
            font-weight: 900;
            font-size: 17px;
            line-height: 32px;
            text-align: center;
        }
        #choice tr td:nth-child(1){
            background: #73F9BC;
            color: #000;
            border: none;
        }
            #choice tr td{
                border: 1px solid #FFFFFF;
                display:inline-block;
                border-collapse: collapse;
                color: #fff;
            }
    .bigtext{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0px 10%;
    }
        .bigtext h1{
            font-family: Jostb;
            font-size: 50px;
        }
            .bigtext h1:nth-child(1){
                color: #FFFFFF;
                text-align: center;
            }
            .bigtext h1:nth-child(2){
                color: #73F9BC;
                text-align: center;
                grid-column-start: 3;
            }
            .bigtext p{
                font-family: Jost;
                font-style: normal;
                font-size: 19px;
                color: #FFFFFF;
                text-align: center;
            }
            .bigtext .text2{
                grid-column-start: 3;
            }
    #tables{
        margin: 0px 5px;
    }
        #nfr{
            background-color: #73F9BC;
            text-align: center;
            font-family: Jostb;
            margin-bottom: 0;
        }
        .peoples{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-column-gap: 1vw; 
        }
        .regular{
            grid-column-start: 1/2;
        }
        .pro{
            grid-column-start: 2/3;
        }
        .pep1{
            padding-left: 2vw;
            padding-top: 13px;
            height: 210px;
        }
        
        .times{
            font-family: Bison;
            font-size: 25px;
            line-height: 30px;
            color: #73F9BC;
        }
        .names{
            font-family: Jost;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 29px;
            color: #FFFFFF;
        }
        .images{
            position: relative;
            top: -8vh;
        }
        .faces{
            position: relative;
            top: -8vh;
            left: 2vw;
        }
        .quot{
            font-family: Jost;
            color: #FFFFFF;
            width: 17vw;
            position: relative;
            top: -30vh;
            left: 23vw;
        }
        .abstract{
            font-family: Bison;
            color: #171716;
            background-color: #73F9BC;
            padding: 5px 2vw;
            position: relative;
            top: -26vh;
            right: -23vw;
        }
        .calendar{
            font-family: Bison;
            color: #fff;
            border: 1px solid #fff;
            padding: 5px 2vw;
            position: relative;
            top: -26vh;
            right: -24vw;
        }
        hr{
            position: relative;
            bottom: 20vh;
            margin-right: 2vw;
        }
        .qa{
            font-family: Jost;
            color: #FFFFFF;
            width: 17vw;
            position: relative;
            top: -6vh;
            left: 23vw;
        }
        .visibleafter{
            display: none;
        }
/*MEDIA*/
@media (min-width:1360px){
    .larger{
    width: 310px;
    }
}
@media (max-width:1465px){
    #person{
        top: 25vh;
        right: 15vw;
    }
    .faces {
        left: 1vw;
        width: 22%;
    }
    .quot{
        left: 24vw;
        font-size: medium;
    }
    .abstract{
        right: -24vw;
        padding: 2px 1vw;
    }
    .calendar{
        right: -26vw;
        font-size: medium;
        padding: 2px 1vw;
    }
    .images {
        width: 20%;
    }
    .names {
        font-size: 18px;
    }
}
@media(max-width:1370px){
    .faces {
        left: 0vw;
    }
    .online {
        font-size: 2.5em;
    }
    .title {
        font-size: 3em;
    }
    .text {
        font-size: x-large;
    }
    #person {
        width: 24%;
        top: 26vh;
        right: 20vw;
    }
    .quot{
        font-size: small;
    }
    .names {
        font-size: 16px;
    }
}
@media (max-width:1200px){
    .bigtext h1 {
        font-size: 35px;
        margin-bottom: 0;
    }
    .online {
        font-size: 2em;
        position: relative;
        bottom: 5vh;
    }
    .btn {
        width: 275px;
        height: 44px;
    }
    #person {
        width: 25%;
        top: 20vh;
        right: 22vw;
    }
}
@media (max-width:1100px){
    .peoples{
        display: grid;
        grid-template-columns: 1fr;
    }
    .pep1:nth-child(even){
        position: relative;
        bottom: 0px;
    }
    .faces, .images {
         width: auto; 
    }
    .faces{
        left: 2vw;
    }
    .quot {
        font-size: medium;
        width: max-content;
        left: 40vw;
        word-wrap: break-word; 
    }
    .abstract {
        right: -40vw;
        padding: 6px 4vw;
    }
    .calendar {
        right: -44vw;
        padding: 6px 4vw;
    }
    .qa {
        left: 41vw;
    }
    .visibleafter{
        display: contents;
    }
        .visibleafter h1{
            font-family: Jostb;
            color: #73F9BC;
            text-align: center;
            font-size: 50px;
            margin-bottom: 0;
        }
        .visibleafter p{
            font-family: Jost;
            font-style: normal;
            font-size: 19px;
            color: #FFFFFF;
            text-align: center;
        }
    .bigtext{
        display: contents;
    }
        .bigtext h1:nth-child(2), p:nth-child(4){
            display: none;
        }
        .bigtext h1:nth-child(1){
            font-size: 50px;
            margin-bottom: 0;
        }
        #tables {
            margin: 0px 15px;
        }
}
@media (max-width: 950px){
    .quot {
        font-size: smaller;
    }
    #choice tr {
        font-size: 13px;
    }
    .text {
        font-size: smaller;
    }
}

@media (max-width: 780px){
    .main-content {
        margin-left: 0; 
    }
    .title {
        font-size: 4em;
        text-align: center;
        
    margin-top: 24px;

    }
    #person {
        width: 31%;
        top: -35vh;
        right: -34vw;
        position: relative;
    }

    .btn {
        width: -webkit-fill-available;
        height: 44px;
        z-index: 3;
        top: 13vh;
    }
    .online {
        font-size: 1.7rem;
        position: relative;
        width: -webkit-fill-available;
        text-align: center;
        padding: 0;
        top: 36vh;
    }
    .info{
        top: 40vh;
        left: 5vw;
        position: relative;
    }
    .text{
        position: relative;
        top: 37vh;
        left: 5vw;
        font-size: x-large;
    }
    .larger{
        width: 46vw;
    }
    #footer {
        margin-top: 0;
    }
    .drop-menu-item{
        display:block;
    }
    #choice {
        width: 23vw;
        margin-left: 36%;
    }
    #choice tr {
        display: inherit;
    }

    .dropbtn {
        background-color: #73F9BC;
        padding: 16px;
        font-size: 16px;
        font-family: Jostb;
        border: none;
        cursor: pointer;
      }
      
      .dropdown {
        font-family: Jostb;
        position: relative;
        display: inline-block;
        position: relative;
        left: 33vw;
      }
      
      .dropdown-content {
        font-family: Jostb;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      #choice, #logo, .menu{
          display: none;
      }
      #logo2{
        position: relative;
        margin-left: 19%;
        top: 16%;
        display: inline;
      }
      header {
        height: 40px;
      }
      #mySidenav, #rows{
          display: block;
      }
      #mySidenav{
      z-index: 10;
      }
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        font-family: Bison;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 130%;
            text-transform: uppercase;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    
}

@media(max-width:500px){
    #logo2{
        margin-left: 2%;
        top: 40%;
    }
    #rows{
        top: -4vh;
    }
    .title {
        font-size: 2em;
    }
    #person {
        width: 50%;
    }
    .info, .text{
        top: 38vh;
    }
    .online {
        font-size: 1em;
        top: 31vh;
    }
    .dropdown {
    left: 18vw;
    }
    #talks {
    font-size: x-small;
    }
    .btn {
    top: 4vh;
    }
    .bigtext p , .visibleafter p{
    font-size: small;
    }
    header {
        height: 40px;
        margin: 10px 10px;
        border: 1px solid #73F9BC;
    }
    #rows{
        right: 2vw;
    }
    .times, .names{
        position: relative;
        right: -45vw;
    }
    .faces {
        left: -35vw;
    }
    .images {
    position: relative;
    top: 2vh;
    }
    .quot {
    font-size: small;
    word-break: break-word;
    width: 40vw;
    left: 40vw;
    top: -20vh;
    }
    .abstract {
    right: -41vw;
        top:-15vh
    padding: 10px 10vw;
    }
    .calendar {
    right: 0vw;
    top: -7vh;
    padding: 10px 9vw;
}
    .pep1{
            height: 310px;
    }
    hr {
    bottom: 5vh
    }
    .qa {
    left: 40vw;
    top: -3vh;
}

}
